# MONGO_URI=mongodb+srv://namitkrrish1_db_user:5gPAynTCb2dXYSIA@gallerycluster.amr4mim.mongodb.net/?appName=galleryCluster

# MONGO_URI=mongodb+srv://namitkrrish1_db_user:5gPAynTCb2dXYSIA@gallerycluster.amr4mim.mongodb.net/GalleryDB?retryWrites=true&w=majority
MONGO_URI=mongodb://namitkrrish1_db_user:shivaa18@ac-p6hq1k9-shard-00-00.amr4mim.mongodb.net:27017,ac-p6hq1k9-shard-00-01.amr4mim.mongodb.net:27017,ac-p6hq1k9-shard-00-02.amr4mim.mongodb.net:27017/?ssl=true&replicaSet=atlas-87mz9y-shard-0&authSource=admin&appName=galleryCluster
CLOUDINARY_CLOUD_NAME=dogal9au3
CLOUDINARY_API_KEY=287135716752229
CLOUDINARY_API_SECRET=7M9QtDsrKbns_4IaeNM2UBT6vWM
USER=us
PASSWORD=shivaa18
JWT_SECRET=mysecret123